.sideBar{
    position: fixed;
    left: 38px;
    top: 1000px;
    z-index: 2;
    transition: all 500ms;
}

.sideBar-content{
    background-color: rgb(29, 28, 28);
    display: flex;
    padding: 15px 20px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black;
}


.btn-sideBar{
    background: rgba(185, 185, 185, 0.763);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px;
    transition: all 500ms;
    border: none;
}

.btn-sideBar:hover{
    background: rgba(0, 0, 0, 0.763);
    color: rgb(255, 255, 255);
}



.on{
    top: 600px;
    cursor: pointer;
    transition: all 500ms;
}

.move-btn{
    background: rgba(0, 0, 0, 0.763);
    color: rgb(255, 255, 255);
    transition: all 500ms;
}