.footer{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background: linear-gradient(to right, #000000, #222);
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info li{
    font-size: 20px;
    list-style: none;
    background-color: #40404079;
    border-radius: 100%;
    padding: 15px;
    box-shadow: 0 5px 0px rgb(0, 0, 0);
    margin: 10px 20px;
    color: white;
    transition: all 300ms;
}

.contact-info li:hover{
    background-color: #ff4141;
    color: white;
    box-shadow: 0 0 5px red , 0 0 5px rgb(255, 74, 74);
}

.autor-copyright {
    color: white;
    padding: 20px;
    text-align: center;
}

.autor-copyright .bar{
    width: 90%;
    margin: 10px auto;
    background-color: #ff0f0f;
    height: 5px;
}